html{
    height: 100%;
}

body{
    background-color: black;
    margin: 0px;
    min-height: 100%;
}

footer{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: x-large;
    color: white;
    text-align: center;
}

a{
    color: #0067A2 !important;
}

.nav-active{
    background-color: #0067A2 !important;
    color: white !important;
}

.navbar-expand-lg {
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: safe !important;
}

.main-content{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    min-height: 79vh;
}

.dashboard-carousel{
    height: 150px;
}

.carousel-inner{
    padding-top: 20px;
    color:white !important;
}

.table-scrollable{
    overflow-y: scroll;
}

.list-scrollable{
    overflow: scroll;
}

.info-card{
    height: 500px;
}

.dashboard-critical-content{
    padding-bottom: 15px;
}

.nav-fill .nav-item {
	font-size: x-large !important;
}

.bg-dashboard-dark{
    background-color: #30292f !important;
}

.bg-dashboard-light{
    background-color: #fffcf2 !important;
}

.bg-dashboard-mint{
    background-color: #70ee9c !important;
}

.bg-dashboard-lightblue{
    background-color: #247ba0 !important;
}

.bg-dashboard-darkblue{
    background-color: #0067A2 !important;
}

.btn-mint{
    color: black !important;
    background-color: #70ee9c !important;
}

.btn-delete{
    color: white !important;
    background-color: crimson;
}

.btn-lightblue{
    color: white;
    background-color: #247ba0 !important;
}

.btn-darkblue{
    color: white;
    background-color: #1f487e !important;
}

.nav-pills .nav-link {
     border-radius: 0 !important;
     /*color: white;*/
}

.navbar-user{
    float: right;
}

.card{
    align-content: center;
}

.card-title-border{
    border-bottom: #30292f solid;
}

#nav-wrapper > .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #247ba0 !important;
}

#nav-links{
    border-top: #30292f solid;
    border-bottom: #30292f solid;
}

#nav-wrapper{
    background-color: aqua;
}

#profile{
    float: right;
    font-size: x-large;
    font-weight: bold;
    color: white;
}